{% extends 'polls/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'polls/login.css' %}">
{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block content %}
<h1 class="login-title"><em>BIENVENIDO</em></h1>
<div class="card">
    <div class="logo">
        <img src="{% static 'polls/img/1.png' %}" alt="Logo">
    </div>
    <h2><em>ORTICORP</em></h2>
    <p class="subtitle"><em>Seguridad Privada Especializada</em></p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" name="username" placeholder="Correo electrónico" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>
        <button class="btn" type="submit">Iniciar Sesión</button>
    </form>
</div>
<footer style="text-align: center; padding: 20px;">
    &copy;<em> 2026 ORTICORP  SISTEMA DESARROLLADO POR GRUPO AXOTEC.</em>  
</footer>
{% endblock %}
  